body {
    background-image: url(/purple.png);
    background-position-y: 3rem;
    background-position-x:13rem;
    background-repeat: no-repeat;
    background-size: 25rem;
    font-family: 'Inter', sans-serif;
    height: 100%;
}

@media ( min-width:1400px) {
    body {
        background-position-x: 66rem ;
        background-position-y: 7rem ;
        background-size: 30rem;
    }
}

.header,
.launching,
.launching-1,
.container-1,
.le,
footer,
.lenteles {
    margin: 30px;
}

@media ( min-width: 1400px) {
.header,
.launching,
.launching-1,
.le,
footer,
.lenteles {
    margin-left: 50px;
}
}

.header {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1400px) {
    .hamburger {
        display: none;
    }
}

nav a { 
    color:#555555; 
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    padding: 15px;
    text-decoration: none;
}

@media (max-width:1400px) {
    nav a {
        display: none;
    }
}

.launching h1{
    color: #111111;
    font-size: 45px;
    font-weight: 900;
    margin: auto;
    padding-top: 10px;
}

@media ( min-width: 1400px) {
    .launching h1 {
        font-size: 96px;
        font-weight: 900;
        height: 232px;
        left: 80px;
        line-height: 116px;
        margin:0;
        top:349px;
        width:620px;
    }
}

@media (min-width:1400px) {
    .launching-1 {
        margin-left: 50px;
    }
}

@media ( min-width:1400px) {
    .launching p {
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        width: 500px;
    }
}

.sign {
    background-color: white;
    border-radius:20em;
    border: solid rgb(240, 51, 8);
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    height: 4rem;
    margin: 0 0 40px 0;
    width: 10rem;
}

.oranzinis {
    background-image: url(/fonas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 19rem;
    margin:50px 0 0 0px; 
}

.oranzinis p {
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
    padding-top: 2px;
    width: 90% ;
}

@media ( min-width:1400px) {
    .oranzinis {
        background-size: cover;
        border-radius: 0.7em;
        height: 17rem;
        margin: 150px 50px 80px 50px;
    }
}

main h3{
    color: #FF3998;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 19px;
    padding-top: 45px;
}

main p,
section.le p {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 10px;
    width: 295px;
    
}
section.le p {
    width: 364px;

}

.free-nft {
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    margin-left: 30px;
    padding-top: 100px;
}

.sign-up {
    color: #FF3998;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.container-1 {
    display: flex; 
    flex-direction: column (1, 1fr);
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 30px 0px 30px ;
    padding: 10px;
    row-gap: 10px; 
}

.container-1 img {
    width: 9rem;
}

@media ( min-width:1400px) {
    .container-1 {
        margin: 50px 50px 30px 50px;
    }
}

.le h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    padding-top: 20px;
}

.le p {
    margin-top: -20px;
}

@media ( min-width:1400px) {
    .le h1 {
        font-size: 40px;
        font-weight: 500;
        height: 48px;
        width: 500px;
    
    }
}

@media ( min-width:1400px) {
    section.le p {
        margin-bottom: 50px;
        width: 800px;
    }
}

.open-sea {
    color: #555555;
    font-weight: bold;
    text-decoration: underline;
}

.scrolling-wrapper {
    display: flex;
    margin: 0 0 0 30px;
    overflow-x: auto;
}

@media ( min-width:1400px) {
    .scrolling-wrapper {
       justify-content: center;
    }
}

.lenteles {
    background-color: #EEEEEE;
    border-radius: 16px;
    margin: 0 30px 0 0;
    width: 18.1rem;
}

@media ( min-width:1400px) {
    .lenteles:not(:last-child) {
        margin: 0 9rem 0 0;
    }
}

table {
    padding: 15px;
    width: 100%;
}

td,
th {
    padding: 3px;
}

.gloop {
    color: #FF8139;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
}

.topbid {
    color: #777777;
    font-size: 12px;
    font-weight: 500;
    text-align:right;
     text-transform: uppercase;
}

.veikejas {
    font-size: 20px;
}

.kaina {
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}

.kodas {
    color: #777777;
    font-size: 18px; 
    font-weight: 400;
    text-align: left;   
}

.diena {
    color: #777777;
    text-align: right;
}

.launching-1 {
    background-image: url(/zalia\ mergaite\ didele.svg);
    background-position-y: 9rem;
    background-position-x:13.5rem;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-right: 0;
}

@media ( min-width:1400px) {
    .launching-1 {
        background-position-x:65rem ;
        background-position-y: 0 ;
        background-size: 11.5rem;
    }
}

.launching-1 h1 {
    color: #111111;
    font-size: 56px;
    font-weight: 900;
    line-height: 68px;
    width: 274px;
}

@media ( min-width:1400px) {
    .launching-1 h1 {
        font-weight: 900;
        font-size: 56px;
        line-height: 68px;
        width:650px;
    }
}

.launching-1 p {
    font-size: 20px;
    font-weight: 400;
    width: 207px;
}

@media ( min-width:1400px) {
    .launching-1 p {
        width: 615px;
    }
}

hr {
    margin: 80px 0 0 0;
}

@media ( min-width:1400px) {
    hr {
        margin: 70px 50px 50px 50px
    }
}

.wrapper {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;   
}

@media (min-width:1400px) {
    .wrapper {
        display: grid;
        grid-template-columns: 54rem repeat(5, 1fr);
    }
}

.kaire {
    grid-column: 2 span;
}

.social { 
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
}

.galas {
    font-weight: 700;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.pabaiga {
    color: #555555;
    font-weight: 700;
    letter-spacing: 0.1rem;
    list-style: none;
    padding: 20px 80px 20px 0;
}

footer p {
    color: #555555;
     font-size: 20px;
    font-weight: 400;
}

@media ( min-width:1400px) {
    footer {
        margin-left: 50px;
    }
}

li {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
}

.copy
.august {
    color: #999999;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.copy-august {
    display: flex;
    justify-content: space-between;
    margin:40px 0 70px 0;
}

@media ( max-width:1400px) {
    .august {
        display: none;
    }
}