body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

.header,
.launching,
.container-1,
.le,
footer,
.lenteles {
    margin: 30px;
}

@media ( min-width: 1200px) {
    .header,
.launching,
.container-1,
.le,
footer,
.lenteles {
    margin: 50px;
}
}

.header {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .hamburger {
        display: none;
    }
}


.launching h1{
    color: #111111;
    font-size: 45px;
    font-weight: 800;
    margin: auto;
    padding-top: 10px;
}

main h3{
    color: #FF3998;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    padding-top: 45px;
}

main p, 
section.le p {
    color: #555555;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    padding-top: 10px;
    width: 295px;
}

.purple {
    position:absolute;
    left: 16rem;
    width: 35rem;
    height: 24rem;
    top: 4rem;
}

.oranzinis {
    background-image: url(/fonas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:50px 0 0 0px;
    height: 19rem;
}

@media ( min-width:1200px) {
    .oranzinis {
        margin: 50px 30px 0 30px;
    }
}
.sign {
    color: #111111;
    background-color: white;
    border-radius:20em;
    border: solid rgb(240, 51, 8);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    width: 11rem;
    height: 4rem;
}

.free-nft {
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    padding-top: 100px;
    margin-left: 30px;
}

.oranzinis p {
    color: #111111;
    font-weight: 400;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 2px;
    width: 90% ;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column (2, 1fr);
    row-gap: 10px;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

.container-1 img {
    width: 10.3rem;
}
.le h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    padding-top: 20px;
}

.le p {
    margin-top: -20px;
}
.open-sea {
    color: #555555;
    text-decoration: underline;
    font-weight: bold;
}

.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
}

hr {
    margin: 90px 0px 0px 0px;
}

.zalia-mergaite-didele {
    width: 206px;
    height: 467px;
    left: 253px;
}

table {
    padding: 15px;
    width: 100%;
}

.lenteles {
    background-color: #EEEEEE;
    border-radius: 16px;
    width: 22rem;
    left: 0%;
}

.gloop {
    color: #FF8139;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
}

.topbid {
    color: #777777;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    text-align:right;
}

.veikejas {
    font-size: 20px;
}

.kaina {
    font-weight: 500;
    font-size: 20px;
    text-align: right;
 
}

.kodas {
    color: #777777;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    
}

.diena {
    color: #777777;
    text-align: right;
}

td,
th {
    padding: 3px;
}


footer p {
    color: #555555;
    font-weight: 400;
    font-size: 20px;
}

.social {
    padding: 10px 0px 0px 0px;
    margin-bottom: 30px;
}

.galas,
.galas-1 {
    font-weight: 700;
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sarasas {
    display:flex;
    flex-wrap: wrap;
    list-style: none; 
   
}

.pabaiga,
.pabaiga-1 {
    color: #555555;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 20px 80px 20px 0px;
}

li {
    color: #555555;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
}

nav a { 
    color:#555555;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    padding: 15px;
    
}

@media (max-width:1200px) {
    nav a {
        display: none;
        
    }
}

.sign-up {
    color: #FF3998;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    
}

.copy {
    color: #999999;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.august {
    padding-left: 50rem;
}